

#ttn-player {    
    background: #222;
    color:#eee;
    padding:5px;
    //height: 100px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: 1050;
}
@media (max-width: 768px) {
    .ttn-player-controls {
        width:100%;
        display: block;
    }
    .ttn-player-display {
        width:84%;
    }
    .ttn-player-current-item {
        width:15%;
    }
    .ttn-player-play, .ttn-player-stop, .ttn-player-pause, .ttn-player-next {
        margin-right: 5px;
    }
    .ttn-player-playlist {
        display: none;
    }
    
    #ttn-player.full {
       height: 100%;        
    }
}

@media (min-width: 768px) {

    
    
   
    
    .ttn-player-console {        
        width:350px;
        position:absolute;
        bottom:0;
    }
    
    .ttn-player-display {
        width:245px;
    }
    
    .ttn-player-controls {
        width:245px;
    }
    .ttn-player-current-item {
        width:100px;
    }
}

.ttn-player-btn {
    background: transparent none repeat scroll 0% 0%;
    color: #DDD;
    font-size: 21px;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid #666;
}

.ttn-player-listeners {
    font-size: 15px;
    float: right;
    padding: 3px;
}

.ttn-player-display {
    background: #DDD none repeat scroll 0% 0%;
    height: 60px;
    display: block;
    float: right;
    padding: 0px 5px;    
    margin-bottom: 4px;
}

.ttn-player-playlist {
    margin-left:355px;
    overflow-x: scroll;
    height: 65px;
}

.ttn-player-playlist-item {
    background-size:cover;
    background-position:center;
    margin-right:3px;
    width:50px;
    height:50px;
    float:left;
    border:1px solid #999;
}

.ttn-player-controls {
    float:right;
}

.ttn-player-playlist-item-overlay {
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
}

.ttn-player-playlist-item:hover .ttn-player-playlist-item-overlay {
    display: block;
}

.ttn-player-playlist-item-overlay .ttn-overlay-control {
    width:100%;
    font-size: 10px;
    display: block;
    //text-align: center;
    cursor: pointer;
    padding:3px;
}

.ttn-overlay-control span:hover {
    color: red;
}