img {
    max-width: 100%;
    height: auto;
}


body {
    background-image: url(../images/greyzz.png);
    padding-top: 40px;
    padding-bottom: 100px;
}


.portada-irudia {
    margin-bottom: 15px;
    position: relative;
    background-size: cover;
    height: 150px;
    background-position: center center;
    overflow: hidden;
}

.portada-irudia-span {
    width: 100%;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    color: #FFF;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 1px 0px 1px #000, -1px 0px 1px #000, 0px 1px 1px #000, 0px -1px 1px #000;
}


.corner-small {
    top: -27px;
    right: -37px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    transform: rotate(45deg);
    font-size: smaller;
}

section.widget {
    margin-bottom: 10px;
}


.ttn-title {
    width:100%;
    background:#222;
    text-align:center;
    margin:0;
    color:#fff;
}

.nav-links a {
  display: inline-block;
 margin-bottom: 10px;
 font-weight: 400;
 text-align: center;
 vertical-align: middle;
 cursor: pointer;
 background-image: none;
 border: 1px solid transparent;
 white-space: nowrap;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857;
 border-radius: 4px;
 color: #333;
background-color: #FFF;
border-color: #CCC;
}

.nav-links .nav-previous {
  float:left;
}

.nav-links .nav-next {
  float: right;
}
