// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    6;

// Colors
$brand-primary:         #DE0000;


$grid-gutter-width:         10px;




$navbar-inverse-link-color: #ddd;

$navbar-height:                    30px;